
.header {
  height:auto;
  position: relative;

  &__bg picture {
    position: absolute;
    inset: 0;
    top: -30px;
    z-index: -1;

    & img {
      position: absolute;
      right: 0;
      object-fit: contain;
      height: 100%;
    }
  }

  &-top {
    font-size: 16px;
    font-weight: 500;
    // .header-top__inner

    &__inner {
      position: relative;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      padding: 20px 0;
      align-items: center;
    }

    // .header-top__logo

    &__logo {
      width: 102px;
      height: 88px;
      @include _768 {
        width: 60px;
        height: 55px;
      }
    }

    // .header-top__logo-img

    &__logo-img {
      width: 100%;
    }

    // .header-top__nav

    &__nav {
      padding-left: 91px;
      flex-grow: 1;
      @include _979 {
        padding-left: 30px;
      }

      @include _768 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        position: fixed;
        right: 0;
        top: 0;
        background-color: #fae01a;
        z-index: 100;
        padding: 150px 10px;
        min-width: 320px;
        height: 100vh;
        transform: translateY(-110%);
        transition: all 0.3s;

        &.active {
          transform: translateY(0);
        }
      }

      @include _450 {
        width: 100%;
      }
    }

    // .header-top__nav-list

    &__nav-list {
      display: flex;
      gap: 40px;

      @include _979 {
        gap: 20px;
      }

      @include _768 {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
      }
    }

    // .header-top__nav-item

    &__nav-item {
    }

    // .header-top__nav-link

    &__nav-link {
      font-weight: 500;
      transition: all 0.3s;
      &:hover {
        color: #018fa3;
      }

      @include _768 {
        font-weight: 600;
      }
    }

    // .header-top__number

    &__number {
      text-align: right;
      font-size: 18px;
      font-weight: 600;
      padding-left: 48px;
      position: relative;
      white-space: nowrap;
      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-image: url("../icons/tel.svg");
        @include _979 {
          width: 30px;
          height: 30px;
        }
      }

      @include _979 {
        font-size: 14px;
        padding-left: 34px;
        order: 1;
      }

      @include _768 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  // .header__body

  &-body {
    position: relative;

    // .header-body__inner

    &__inner {
      height: 80vh;
      display: flex;
      align-items: center;
    }

    // .header-body__content

    &__content {
      display: flex;
      flex-direction: column;
      gap: 44px;
      max-width: 700px;
      @include _1170 {
        max-width: 500px;
        gap: 20px;
      }
      @include _768 {
        max-width: 100%;
        align-items: center;
      }
    }

    // .header-body__title

    &__title {
      font-size: 48px;
      font-weight: 600;
      line-height: 59px;
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease-in;

      &.active {
        transform: translate(0px, 0px);
        opacity: 1;
      }

      & span {
        color: #018fa3;
        text-transform: uppercase;
        text-shadow: -35px -25px rgba(1, 143, 163, 0.06);
      }

      @include _1170 {
        font-size: 36px;
        line-height: 40px;
      }

      @include _768 {
        text-align: center;
      }

      @include _600 {
        font-size: 30px;
      }
    }

    // .header-body__desk

    &__desk {
      max-width: 535px;
      transform: translate(0px, 120%);
      opacity: 0;
      transition: all 0.8s ease-in 0.1s;

      &.active {
        transform: translate(0px, 0px);
        opacity: 1;
      }

      @include _1170 {
        max-width: 350px;
      }

      @include _768 {
        text-align: center;
        max-width: 535px;
      }
      @include _600 {
        font-size: 14px;
        line-height: 18px;
      }
    }

    &__button {
      transform: translate(0px, 150%);
      opacity: 0;
      transition: all 0.8s ease-in 0.3s;

      &.active {
        transform: translate(0px, 0px);
        opacity: 1;
      }
    }
  }
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 101;
  position: fixed;
  right: 15px;
  display: none;
  &__line {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background-color: #018fa3;
    border: 1px solid #00000034;
    transition: all 0.3s;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: #018fa3;
    transition: all 0.3s;
    border: 1px solid #00000034;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  &.active .burger__line {
    opacity: 0;
  }
  &.active::before {
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    width: 25px;
    border: none;
  }
  &.active::after {
    left: 0;
    width: 25px;
    bottom: auto;
    top: 50%;
    transform: rotate(-45deg);
    border: none;
  }
  @include _768 {
    display: block;
  }
}

.about {
  padding: 70px 0 80px;
  overflow: hidden;
  @include _979 {
    padding: 35px 0 0;
  }
  // .about__inner

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 115px 20px;
    align-items: center;
    @include _1250 {
      padding: 32px;
    }
    @include _979 {
      gap: 57px 20px;
      padding: 16px;
    }
    @include _600 {
      grid-template-columns: 1fr;
    }
  }

  //.about__grid
  &__grid {
  }

  // .about__grid-1

  &__grid-1 {
    justify-self: end;
    padding-right: 30px;
    transform: translate(-100%, 0px);
    opacity: 0;
    transition: all 0.8s ease-in;

    &.active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    @include _850 {
      grid-column: 1/3;
      justify-self: center;
    }
    @include _600 {
      grid-column: 1/2;
    }
  }

  // .about__grid-2

  &__grid-2 {
    justify-self: end;
    position: relative;
    transform: translate(100%, 0px);
    opacity: 0;
    transition: all 0.8s ease-in;

    &.active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    &::after {
      position: absolute;
      content: "";
      border-radius: 30px;
      top: 32px;
      right: -32px;
      bottom: -32px;
      left: 32px;
      width: 100%;
      z-index: -1;
      background: url(../icons/border.svg);

      @include _979 {
        top: 16px;
        right: -16px;
        bottom: -16px;
        left: 16px;
      }
    }

    @include _850 {
      grid-column: 2/3;
      margin-bottom: 40px;
    }
    @include _600 {
      grid-row: 2/3;
      grid-column: 1/2;
      justify-self: center;
    }
  }

  // .about__grid-3

  &__grid-3 {
    justify-self: start;
    position: relative;
    transform: translate(-100%, 0px);
    opacity: 0;
    transition: all 0.8s ease-in;

    &.active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    &::after {
      position: absolute;
      content: "";
      border-radius: 30px;
      top: 32px;
      right: 32px;
      bottom: -32px;
      left: -32px;
      z-index: -1;
      background: url(../icons/border.svg) no-repeat;

      @include _979 {
        top: 16px;
        right: 16px;
        bottom: -16px;
        left: -16px;
      }
    }
    @include _850 {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-bottom: 40px;
    }
    @include _600 {
      grid-row: 4/5;
      justify-self: center;
    }
  }

  // .about__grid-4

  &__grid-4 {
    transform: translate(100%, 0px);
    opacity: 0;
    transition: all 0.8s ease-in;

    &.active {
      transform: translate(0px, 0px);
      opacity: 1;
    }
    @include _850 {
      grid-column: 1/3;
      justify-self: center;
    }
    @include _600 {
      grid-row: 3/4;
      grid-column: 1/2;
    }
  }

  // .about__grid-desk

  &__grid-desk {
    max-width: 465px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      z-index: -1;
      top: -12%;
      left: 10.5%;
      bottom: 12%;
      right: -6.5%;
      background: #fff7be;
      border-radius: 30px;
    }

    @include _490 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  // .about__grid-img

  &__grid-img {
    width: 100%;
    border-radius: 30px;
    position: relative;
  }

  // .about__grid-1-desk

  &__grid-1-desk {
    margin-top: 76px;
    margin-left: 79px;
    &::before {
      position: absolute;
      content: "";
      z-index: -2;
      top: -76px;
      left: -79px;
      width: 200px;
      height: 200px;
      background: url(../icons/grid1.svg) no-repeat;
      @include _850 {
        top: -38px;
        left: -40px;
        width: 100px;
        height: 100px;
      }
    }
    @include _850 {
      margin-top: 38px;
      margin-left: 40px;
    }
  }

  // .about__grid-4-desk

  &__grid-4-desk {
    margin-bottom: 45px;
    margin-right: 97px;
    &::before {
      position: absolute;
      content: "";
      z-index: -2;
      bottom: -45px;
      right: -97px;
      width: 200px;
      height: 200px;
      background: url(../icons/grid4.svg) no-repeat;
      @include _850 {
        bottom: -23px;
        right: -48px;
        width: 100px;
        height: 100px;
      }
    }
    @include _850 {
      margin-bottom: 23px;
      margin-right: 48px;
    }
  }

  //. about__grid-2-img

  &__grid-2-img {
  }

  //. about__grid-3-img
  &__grid-3-img {
  }
}

.scheme {
  padding: 60px 0 70px;
  @include _979 {
    padding: 30px 0 35px;
  }
  // .scheme__inner

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;

    &.active .scheme__grid {
      transform: scale(1);
    }

    @include _600 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include _450 {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .scheme__grid

  &__grid {
    text-align: center;
    max-width: 150px;
    transform: scale(0);
    & img {
      max-width: 120px;
      width: 100%;
      @include _600 {
        width: 60%;
      }
    }
    @include _600 {
      justify-self: center;
    }
  }

  // .scheme__grid-1

  &__grid-1 {
    justify-self: end;
    transition: all 0.3s ease-in 0.1s;
  }

  // .scheme__grid-desk

  &__grid-desk {
  }

  // .scheme__grid-1-desk

  &__grid-1-desk {
  }

  // .scheme__grid-2

  &__grid-2 {
    justify-self: start;
    transition: all 0.3s ease-in 0.2s;
  }

  // .scheme__grid-2-desk

  &__grid-2-desk {
  }

  // .scheme__grid-3

  &__grid-3 {
    justify-self: center;
    transition: all 0.3s ease-in 0.3s;
  }

  // .scheme__grid-3-desk

  &__grid-3-desk {
  }

  // .scheme__grid-4

  &__grid-4 {
    justify-self: center;
    transition: all 0.3s ease-in 0.4s;
  }

  // .scheme__grid-4-desk

  &__grid-4-desk {
  }

  // .scheme__grid-5

  &__grid-5 {
    justify-self: end;
    transition: all 0.3s ease-in 0.5s;
  }

  // .scheme__grid-5-desk

  &__grid-5-desk {
  }

  // .scheme__grid-6

  &__grid-6 {
    justify-self: start;
    transition: all 0.3s ease-in 0.6s;
  }

  // .scheme__grid-6-desk

  &__grid-6-desk {
  }

  // .scheme__grid-7

  &__grid-7 {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    margin-top: -8%;
    transition: all 0.3s ease-in 0.7s;
    @include _600 {
      grid-column: 1/4;
      grid-row: 5/6;
      margin-top: 0;
    }
    @include _450 {
      grid-column: 1/3;
      grid-row: 6/7;
    }
  }

  // .scheme__grid-7-desk

  &__grid-7-desk {
  }

  // .scheme__grid-8

  &__grid-8 {
    grid-column: 2/3;
    grid-row: 1/4;
    align-self: center;
    justify-self: center;
    max-width: 380px;
    transition: all 0.5s ease-in 0s;
    & img {
      max-width: 340px;
      width: 100%;
    }

    @include _600 {
      grid-column: 1/4;
      grid-row: 1/3;
    }

    @include _450 {
      grid-column: 1/3;
    }
  }

  // .scheme__grid-8-desk

  &__grid-8-desk {
    margin-top: 16px;
  }
}

.catalog {
  padding: 70px 0 80px;
  background: #f6faff;
  @include _979 {
    padding: 35px 0 0;
  }

  // .catalog__inner

  &__inner {
  }

  // .catalog__title

  &__title {
    margin-bottom: 68px;
    @include _979 {
      margin-bottom: 20px;
    }
  }

  // .catalog__swiper-inner

  &__swiper-inner {
    position: relative;
  }

  // .catalog__swiper

  &__swiper {
  }

  // .catalog__swiper-wrapper

  &__swiper-wrapper {
    padding-bottom: 60px;
  }

  // .catalog__swiper-slide

  &__swiper-slide {
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 52px 34px -27px rgba(225, 225, 225, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  // .catalog__swiper-title

  &__swiper-title {
    padding: 26px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

    @include _1250 {
      height: 110px;
    }
    @include _1170 {
      height: auto;
    }
  }

  &__swiper--blue {
    background: #018fa3;
  }
  &__swiper--purple {
    background: #955eea;
  }
  &__swiper--green {
    background: #4eca30;
  }
  &__swiper--yellow {
    background: #ffe41b;
  }
  &__swiper--pink {
    background: #ff4d94;
  }
  &__swiper--orange {
    background: #ffa724;
  }

  // .catalog__swiper-content

  &__swiper-content {
    padding: 60px 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
    @include _979 {
      padding: 20px 8px;
      gap: 20px;
    }
  }

  // .catalog__swiper-info

  &__swiper-info {
    flex-basis: 180px;
    display: flex;
    flex-direction: column;
  }

  // .catalog__swiper-prise

  &__swiper-prise {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 59px;
    justify-self: start;
    @include _979 {
      font-size: 30px;
      line-height: 35px;
    }
  }

  // .catalog__swiper-desk-list

  &__swiper-desk-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    @include _979 {
      gap: 4px;
    }
  }

  // .catalog__swiper-desk-item

  &__swiper-desk-item {
  }

  // .catalog__swiper-global-list

  &__swiper-global-list {
    flex-grow: 1;
  }

  // .catalog__swiper-global-item

  &__swiper-global-item {
  }

  // .catalog__swiper-global-item--open

  &__swiper-global-item--open {
  }

  // .catalog__swiper-list

  &__swiper-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include _979 {
      gap: 10px;
    }
  }

  // .catalog__swiper-item

  &__swiper-item {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background: url(../icons/Line.svg);
      max-width: 320px;
      width: 100%;
      height: 1px;
      background-position: center;
      bottom: -12px;
      margin: 0 auto;
      left: 0;
      right: 0;
      @include _979 {
        bottom: -5px;
      }
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }

  // .catalog__swiper-item-btn

  &__swiper-item-btn {
    color: #018fa3;
    transition: all 0.3s;
    &:hover {
      color: #00c1da;
    }
  }

  // .catalog__swiper-btn

  &__swiper-btn {
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    align-self: center;
    width: fit-content;
    border-radius: 40px;
    padding: 20px 60px;
    animation-duration: 2s;
    animation-name: btn;
    animation-iteration-count: infinite;

    @include _700 {
      margin-top: 20px;
    }
  }

  @keyframes btn {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  // .catalog__swiper-button-prev

  &__swiper-button-prev {
  }

  // .catalog__swiper-button-next

  &__swiper-button-next {
  }
}

.certificate {
  padding: 60px 0 55px;
  @include _979 {
    padding: 30px 0 27px;
  }
  position: relative;
  &::after {
    position: absolute;
    content: "";
    background: url(../images/certificate-bg.png) no-repeat top/contain;
    top: 18%;
    right: 0;
    bottom: -15%;
    z-index: -1;
    left: -1250px;
    @include _1170 {
      left: -95%;
    }
  }
  // .certificate__inner

  &__inner {
  }

  // .certificate__title

  &__title {
    margin-bottom: 60px;
    @include _979 {
      margin-bottom: 20px;
    }
  }

  // .certificate__content

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 14px;
    align-items: center;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background: url(../icons/certificate.svg) no-repeat top/contain;
      right: -15px;
      bottom: -42px;
      z-index: -1;
      width: 137px;
      height: 136px;

      @include _768 {
        right: -15px;
      }
    }
  }

  // .certificate__img

  &__img-box {
    transform: scale(0);
    transition: all 0.8s ease-in 0s;

    &.active {
      transform: scale(1);
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
  }
}

.reviews {
  padding: 60px 0 0;
  @include _979 {
    padding: 30px 0 17px;
  }

  // .reviews__inner

  &__inner {
  }

  // .reviews__title

  &__title {
    margin-bottom: 60px;
    @include _979 {
      margin-bottom: 20px;
    }
  }

  // .reviews__swiper-inner
  &__swiper-inner {
    position: relative;
  }

  // .reviews__swiper
  &__swiper {
  }

  // .reviews__swiper-wrapper

  &__swiper-wrapper {
    padding-bottom: 60px;
    max-height: 540px;
  }

  // .reviews__swiper-slide

  &__swiper-slide {
    padding: 34px 24px 34px 34px;
    border-radius: 30px;
    border: 4px solid #018fa3;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/0.75;
    max-height: 450px;
  }

  // .reviews__info

  &__info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 12px;
    @include _700 {
      flex-direction: column;
    }
  }

  // .reviews__img-box

  &__img-box {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    @include _700 {
      width: 120px;
      height: 120px;
    }
  }

  // .reviews__img

  &__img {
    width: 100%;
    object-fit: cover;
  }

  // .reviews__name

  &__name {
    font-weight: 600;
  }

  // .reviews__text

  &__text {
    flex-grow: 1;
  }

  // .reviews__swiper-button-prev

  &__swiper-button-prev {
  }

  // .reviews__swiper-button-next

  &__swiper-button-next {
  }
}

.contacts {
  padding: 5px 0 20px;
  @include _979 {
    padding: 17px 0 10px;
  }

  // .contacts__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    @include _979 {
      flex-direction: column;
      align-items: center;
    }
  }

  // .contacts__content

  &__content {
    max-width: 600px;
    border-radius: 30px;
    background: #018fa3;
    box-shadow: 0px 50px 50px -27px rgba(0, 0, 0, 0.1);
    padding: 12px 40px 38px;
    color: #fff;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background: url(../icons/contacts.svg);
      width: 201px;
      height: 200px;
      left: 34px;
      top: -43px;
      z-index: -1;
    }
    @include _979 {
      padding: 10px 20px 20px;
    }
    @include _450 {
      text-align: center;
    }
  }

  // .contacts__title

  &__title {
    margin-bottom: 20px;
  }

  // .contacts__list

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // .contacts__item

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  // .contacts__item-title

  &__item-title {
    font-weight: 600;
  }

  // .contacts__item-text

  &__item-text {
  }

  // .contacts__item-link

  &__item-link {
  }

  // .contacts__item-list

  &__item-list {
  }

  // .contacts__item-list-item

  &__item-list-item {
  }

  // .contacts__img-box

  &__img-box {
    margin-bottom: 35px;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }
}

.map {
  padding: 40px 0 45px;
  @include _979 {
    padding: 5px 0 23px;
  }

  // .map__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .map__map

  &__map {
    max-width: 795px;
    width: 100%;

    & iframe {
      border-radius: 20px;
      border: 20px solid #000;
      background: url(<path-to-image>),
        lightgray -7.716px -2px / 102.322% 100.371% no-repeat;
      width: 100%;
      aspect-ratio: 1/0.68;
      @include _768 {
        border: 10px solid #000;
      }
    }

    position: relative;

    &::before {
      position: absolute;
      content: "";
      background: url(../icons/map1.svg);
      width: 201px;
      height: 200px;
      left: -84px;
      top: 58px;
      z-index: -1;

      @include _1170 {
        width: 150px;
        height: 150px;
      }

      @include _768 {
        width: 100px;
        height: 100px;
        left: -54px;
        top: 38px;
      }
    }
    &::after {
      position: absolute;
      content: "";
      background: url(../icons/map2.svg);
      width: 201px;
      height: 200px;
      right: -59px;
      bottom: 44px;
      z-index: -1;
      @include _1170 {
        width: 150px;
        height: 150px;
        right: -15px;
      }
      @include _768 {
        width: 100px;
        height: 100px;

        bottom: 34px;
      }
    }
  }
}

.footer {
  margin-top: 45px;
  background: #0a2530;
  @include _979 {
    margin-top: 23px;
  }

  // .footer__inner

  &__inner {
    display: flex;
    padding: 56px 0;
    align-items: center;
    color: #fff;
    font-weight: 500;
    justify-content: space-between;
    @include _1024 {
      padding: 28px 0;
    }

    @include _700 {
      flex-direction: column;
      gap: 30px;
    }
  }

  // .footer__logo

  &__logo {
    width: 102px;
    height: 88px;
    @include _1024 {
      width: 60px;
      height: 55px;
    }
  }

  // .footer__logo-img

  &__logo-img {
    width: 100%;
  }

  // .footer__nav

  &__nav {
  }

  // .footer__nav-list

  &__nav-list {
    display: flex;
    gap: 40px;
    @include _1024 {
      font-size: 20px;
      gap: 20px;
    }
    @include _768 {
      font-size: 16px;
      gap: 10px;
    }
    @include _700 {
      flex-direction: column;
      align-items: center;
    }
  }

  // .footer__nav-item

  &__nav-item {
  }

  // .footer__nav-link

  &__nav-link {
  }

  // .footer__studio

  &__studio {
    width: 187px;
    height: 51px;
    @include _1024 {
      width: 100px;
      height: 27px;
    }
  }

  // .footer__studio-img

  &__studio-img {
    width: 100%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;

  &.active {
    display: flex;
  }

  &__dialog {
    max-width: 400px;
    width: 100%;
    position: relative;

    @include _600 {
      max-width: 300px;
    }

    &::after {
      content: url(../icons/spinner.svg);
      position: absolute;
      inset: 0;

      align-items: center;
      justify-content: center;
      z-index: 100;
      background: #0000003d;
      border-radius: 30px;
      display: none;
    }

    &.active::after {
      display: flex;
    }
  }
  &__content {
    position: relative;
    width: 100%;
    padding: 20px 32px 32px;
    border-radius: 30px;
    background: #f6faff;
    max-height: 530px;
    overflow: hidden;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
  }

  &__title {
    align-self: center;
    text-align: center;
    max-width: 205px;
    color: #000;
    font-weight: 500;
    & span {
      color: #018fa3;
    }
  }

  &__title--sucsess {
    font-size: 36px;
    max-width: none;
    padding: 0 37px 0 27px;
    line-height: 44px;
    display: flex;
    flex-direction: column;
    gap: 36px;

    @include _600 {
      font-size: 26px;
      line-height: 35px;
      gap: 20px;
    }
  }

  &__input-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__input {
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 20px 45px -15px rgba(0, 0, 0, 0.05);
    padding: 19px 20px;
  }

  &__textarea {
    resize: none;
    min-height: 130px;

    @include _600 {
      min-height: 80px;
    }
  }

  &__btn {
    align-self: center;
  }

  &__img--sucsess {
    width: 120px;
    height: 120px;

    @include _600 {
      width: 80px;
      height: 80px;
    }
  }
}
